.Name{ 
    width: 150px;
    height: max-content;
    inline-size: 100px;
    display:inline-flex;
    margin: 0px;
}
.email{
    inline-size: 100px;
    display: flex;
}
/* .ad{
 inline-size: 100px;
} */
 #first name{
    inline-size: 100px;
}
.button{
    /* background-color: red; */
}
.bd{
   background-color: red;
    color: white;
}
.froms{
    font-size: larger;
    background-color: aquamarine;
}
.head{
    background-color: blue;

}
.brain{
    border: 8px solid black;
    padding-left: 5px;
    max-width: max-content;
}
.job{
    background-color: blue;
    border: 10px;
    height: max-content;
    justify-content: center;
    align-items: center;
}
 